<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style_for_request.css">
        <title>
            Twitter_Map
        </title>
    </head>

    <body>
        <h3>Twitter_Map application gets information about friends of user,
            whose name You can give in search form below, and visualize it
            on the World Map. </h3>
        <h3>You can also set prefered number of friends to show and <span style="color:#191970"> key
            parameter </span> to appear in marker's popups.</h3>
        <h1>Enter the user-name:</h1>
        <form method="POST">
            <input name="user-name" type="text"/>
            <br>
            <h1>Enter a number of friends to search:</h1>
            <input name="number" type="text"/>
            <br>
            <button class="w3-button" type="submit">Get map</button>
        </form>
        <img src="map_icon.png">
    </body>
</html>
